/* .body{
    background-color: #E8A87C;
} */


#headerAll{
    background-color: #E8A87C;
}

#secretsHeader{
    padding-top:1em;
}

header li{
    padding-left: 2em;
}
#bodyHeader{
    padding-top:5em;
}

#loggedOutText{
    padding-top:1em;
    font-size: 20px;
}

footer{
    background-color: #E8A87C;
}




